{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "existing_kms_instance_crn": $HPCS_US_SOUTH_CRN,
  "kms_encryption_enabled_buckets": true,
  "region": "us-south",
  "prefix": $PREFIX,
  "existing_cos_instance_crn": $COS_INSTANCE_CRN,
  "existing_resource_group_name": "geretain-test-resources"
}
