apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.metadata.name }}"
  namespace: "{{ .Values.metadata.namespace }}"
  labels:
    app: "{{ .Values.metadata.name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ .Values.metadata.name }}"
  template:
    metadata:
      labels:
        app: "{{ .Values.metadata.name }}"
    spec:
      containers:
        - name: "{{ .Values.metadata.name }}"
          image: "{{ .Values.image.name }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
            - containerPort: 4443
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - mountPath: /certificates
              name: certificates
              readOnly: true
      volumes:
        - name: certificates
          secret:
            secretName: "{{ .Values.metadata.name }}-secret"
            optional: true
