apiVersion: v1
kind: Service
metadata:
  name: "{{ .Values.metadata.name }}-service"
  namespace: "{{ .Values.metadata.namespace }}"
  labels:
    app: "{{ .Values.metadata.name }}"
spec:
  selector:
    app: "{{ .Values.metadata.name }}"
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 3000
    - name: https
      protocol: TCP
      port: 443
      targetPort: 4443
  type: ClusterIP
