{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "region": "au-syd",
  "resource_tags": $TAGS,
  "prefix": $PREFIX,
  "kp_instance_guid": $KP_DEDICATED_US_SOUTH_INSTANCE_ID,
  "kp_key_crn_cluster": $KP_DEDICATED_US_SOUTH_ROOT_KEY_CRN,
  "kp_key_crn_worker_pool": $KP_DEDICATED_US_SOUTH_ROOT_KEY_CRN
}
